
<table width="100%" align="center">
    <tr>
        <td>Nombre de la Empresa:</td>
        <td>Cantarell SYSTEMS</td>
        <td>Fecha</td>
       <td></td>
    </tr>
    <tr>
        <td>Domicilio:</td>
        <td>Calle Num.1903</td>
        <td>No. Orden</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Ciudad,Estado,C.P</td>
        <td>C.P.</td>
        <td>No. Orden</td>
        <td>1</td>
    </tr>
    <tr>
        <td colspan="2">Vendedor</td>
        <td colspan="2">Comprador</td>
    </tr>
    <tr>
        <td>Compañia</td>
        <td>All-Medico Distributors</td>
        <td></td>
        <td></td>
    </tr>
</table>