
<table width="100%" align="center" border="1">
    <div class="sect">
    <tr>
        <td class="tittle" colspan="2" align="left">Cantarell Market</td>
    </tr>
    </div>
    <tr>

        <div class="tabla-izq">
        <td>
            <table class="tabla-izquierdo" width="30%" align="left" border="1">
                <tr>
                    <td align="center">
                        <button onclick="PantallaPrincipal(0)" class="btn">Precios</button>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        
                        <a onclick="PantallaPrincipal(1)" class="btn">Ordenes</a>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <a onclick="PantallaPrincipal(2)" class="btn">Tracking</a>
                    </td>
                </tr>
            </table>
        </td>
		</div>
        <td>
            <table id="Precios" width="100%" align="right">
                <tr>
                    <td>

                        <table align="center">
                            <tr>
                                <td>Estado</td>
                                <td>
                                    <select id="Idubicacion" name="IdUbicacion" onclick="Mostrardiferentes(this)">
                                        <option value="0">Seleccione ubicacion</option>
                                        <option value="1">Metepec</option>
                                        <option value="2">Toluca</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table align="center">
                            <tr>
                                <td>Nacional/Internacional</td>
                                <td>
                                    <select id="IdExtranjero" name="IdExtranjero">
                                        <option value="0">Nacional</option>
                                        <option value="1">Internacional</option>
                                    </select>
                                </td>
                                <td>Tipo</td>
                                <td>
                                    <select id="IdTipo" name="IdTipo">
                                        <option value="0">CIF</option>
                                        <option value="1">FOB</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr id="numero1">
                    <td>
                        <table width="100%" align="center">
                            <tr>
                                <td colspan="2">
                                    <img width="200" height="100">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Nombre:
                                    </label>
                                </td>
                                <td>Estacion 01</td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        RazonSocial:
                                    </label>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Capacidad:
                                    </label>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Diesel:
                                    </label>
                                </td>
                                <td>
                                    XX,XXX Lt
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        87 Octanos:
                                    </label>
                                </td>
                                <td>XX,XXX lT</td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        91 Octanos:
                                    </label>
                                </td>
                                <td>XX,XXX lT</td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Ubicacion:
                                    </label>
                                </td>
                                <td>Calle X, Colonia X, CDMX,CP:0000</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table width="100%" align="center">
                            <tr>
                                <td>
                                    <table cellpadding="10" style="background-color: #6AEF68;" border="1">
                                        <tr>
                                            <td>
                                                <table border="1" align="center">
                                                    <tr>
                                                        <td>
                                                            <label>
                                                                $XX.XX
                                                            </label>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Diesel
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label>Venta:</label></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><label>Disponibilidad:</label></td>
                                            <td>X días</td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table border="1">
                                        <tr>
                                            <td>
                                                <table border="1" align="center">
                                                    <tr>
                                                        <td>
                                                            <label>
                                                                $XX.XX
                                                            </label>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            91 Octanos
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label>Venta:</label></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><label>Disponibilidad:</label></td>
                                            <td>X días</td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table border="1">
                                        <tr>
                                            <td>
                                                <table border="1" align="center">
                                                    <tr>
                                                        <td>
                                                            <label>
                                                                $XX.XX
                                                            </label>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            87 Octanos
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label>Venta:</label></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><label>Disponibilidad:</label></td>
                                            <td>X días</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>

                                <td align="center"><a href="@Url.Action("OctanosDiesel","MarketIndexController1")" class="btn">compra</a></td>
                                <td align="center"><a href="@Url.Action("OctanosNueve","MarketIndexController1")" class="btn">compra</a></td>

                                <td align="center">
                                    <a href="@Url.Action("Octanosocho","MarketIndexController1")" class="btn">compra</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
            <table id="Ordenes" width="100%" align="center" hidden>
                <tr>
                    <td>
                        <table width="100%" align="center">
                            <tr>
                                <td>
                                    <img width="50px" height="50px">
                                </td>
                                <td>
                                    <input type="text" id="FiltroOrdenesCompra" name="FiltroOrdenescompra">
                                </td>
                            </tr>
                        </table>
                        <br />

                        <table width="100%" align="center" border="1">
                            <tr>
                                <td>ID</td>
                                <td>Fecha</td>
                                <td>Ubicacion</td>
                                <td colspan="2">Herramientas</td>
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>Fecha</td>
                                <td>Orden de Compra 01</td>
                                <td colspan="2" class="tools">
                                    <img src="path/to/image1.jpg" alt="tool1">
                                    <img src="path/to/image2.jpg" alt="tool2">
                                </td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>Fecha</td>
                                <td>Orden de Compra 02</td>
                                <td colspan="2" class="tools">
                                    <img src="path/to/image1.jpg" alt="tool1">
                                    <img src="path/to/image2.jpg" alt="tool2">
                                </td>
                            </tr>
                            <tr>
                                <td>03</td>
                                <td>Fecha</td>
                                <td>Orden de Compra 03</td>
                                <td colspan="2" class="tools">
                                    <img src="path/to/image1.jpg" alt="tool1">
                                    <img src="path/to/image2.jpg" alt="tool2">
                                </td>
                            </tr>
                            <tr>
                                <td>04</td>
                                <td>Fecha</td>
                                <td>Orden de Compra 04</td>
                                <td colspan="2" class="tools">
                                    <img src="path/to/image1.jpg" alt="tool1">
                                    <img src="path/to/image2.jpg" alt="tool2">
                                </td>
                            </tr>
                            <tr>
                                <td>05</td>
                                <td>Fecha</td>
                                <td>Orden de Compra 05</td>
                                <td colspan="2" class="tools">
                                    <img src="path/to/image1.jpg" alt="tool1">
                                    <img src="path/to/image2.jpg" alt="tool2">
                                </td>
                            </tr>
                            <tr>
                                <td>06</td>
                                <td>Fecha</td>
                                <td>Orden de Compra 06</td>
                                <td colspan="2" class="tools">
                                    <img src="path/to/image1.jpg" alt="tool1">
                                    <img src="path/to/image2.jpg" alt="tool2">
                                </td>
                            </tr>
                            <tr>
                                <td>07</td>
                                <td>Fecha</td>
                                <td>Orden de Compra 07</td>
                                <td colspan="2" class="tools">
                                    <img src="path/to/image1.jpg" alt="tool1">
                                    <img src="path/to/image2.jpg" alt="tool2">
                                </td>
                            </tr>
                            <tr>
                                <td>08</td>
                                <td>Fecha</td>
                                <td>Orden de Compra 08</td>
                                <td colspan="2" class="tools">
                                    <img src="path/to/image1.jpg" alt="tool1">
                                    <img src="path/to/image2.jpg" alt="tool2">
                                </td>
                            </tr>
                            <tr>
                                <td>09</td>
                                <td>Fecha</td>
                                <td>Orden de Compra 09</td>
                                <td colspan="2" class="tools">
                                    <img src="path/to/image1.jpg" alt="tool1">
                                    <img src="path/to/image2.jpg" alt="tool2">
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Fecha</td>
                                <td>Orden de Compra 10</td>
                                <td colspan="2" class="tools">
                                    <img src="path/to/image1.jpg" alt="tool1">
                                    <img src="path/to/image2.jpg" alt="tool2">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
<script src="~/js/IndexPrecios.js"></script>