<table width="100%" align="center" border="1">
    <tr>
        <td colspan="2" align="left">Cantarell Market</td>
    </tr>
    <tr>
        <td>
            <table width="30%" align="left">
                <tr>
                    <td align="center">Precios</td>
                </tr>
                <tr>
                    <td align="center">Ordenes</td>
                </tr>
                <tr>
                    <td align="center">Tracking</td>
                </tr>
            </table>
        </td>
        <td>
            <table id="Precios" width="70%" align="right">
                <tr>
                    <td>

                        <table align="center">
                            <tr>
                                <td>Estado</td>
                                <td>
                                    <select id="Idubicacion" name="IdUbicacion">
                                        <option value="0">Seleccione ubicacion</option>
                                        <option value="1">Metepec</option>
                                        <option value="2">Toluca</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table align="center">
                            <tr>
                                <td>Nacional/Internacional</td>
                                <td>
                                    <select id="IdExtranjero" name="IdExtranjero">
                                        <option value="0">Nacional</option>
                                        <option value="1">Internacional</option>
                                    </select>
                                </td>
                                <td>Tipo</td>
                                <td>
                                    <select id="IdTipo" name="IdTipo">
                                        <option value="0">CIF</option>
                                        <option value="1">FOB</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <table width="100%" align="center"> 
                        <></>
                    </table>
                </tr>
            </table>
        </td>
    </tr>
</table>