@model Entrevistado



<table width="100%" align="center">
    <tr>
        <td>Nombre de la Empresa:</td>
        <td>Cantarell SYSTEMS</td>
        <td>Fecha</td>
        <td></td>
    </tr>
    <tr>
        <td>Domicilio:</td>
        <td>Calle Num.1903</td>
        <td>No. Orden</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Ciudad,Estado,C.P</td>
        <td>C.P.</td>
        <td>No. Orden</td>
        <td>1</td>
    </tr>
    <tr>
        <td colspan="2">Vendedor</td>
        <td colspan="2">Comprador</td>
    </tr>
    <tr>
        <td>Compañia</td>
        <td>All-Medico Distributors (AMD)</td>
        <td>Compañia</td>
        <td>All-Medico Distributors</td>
    </tr>
    <tr>
        <td>Contacto</td>
        <td>José Maria de la Urrutía Quintero </td>
        <td>Contacto</td>
        <td>Fernando de la Rosa Juárez </td>
    </tr>
    <tr>
        <td>Domicilio</td>
        <td>
            Calle XXXXX No.123, Colonìa Centro
            C.P. 0000,Ciudad de Mexico, Mèxico
        </td>
        <td>Domicilio</td>
        <td>
            Calle XXXXX No.123, Colonìa Centro
            C.P. 0000,Ciudad de Mexico, Mèxico
        </td>
    </tr>
    <tr>
        <td>Telefono</td>
        <td>
            +520000000
        </td>
        <td>Telefono</td>
        <td>
            +520000000
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <table width="100%" align="center">
                <thead>
                    <tr>
                        <td>Combustible</td>
                        <td>Ubicacion</td>
                        <td>Cantidad</td>
                        <td>Precio</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>87 Octanos</td>
                        <td>
                            Calle XXXXX No.123, Colonìa Centro
                            C.P. 0000,Ciudad de Mexico, Mèxico
                        </td>
                        <td>20,000 Lts</td>
                        <td>$XX,XXX,XXX</td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td>
            <table align="right" border="1">
                <tr>
                    <td>Subtotal</td>
                    <td>$XX,XXX,XXX</td>
                </tr>
                <tr>
                    <td>Uso de la Plataforma</td>
                    <td>$XX,XXX,XXX</td>
                </tr>
                <tr>
                    <td>GranTotal</td>
                    <td>$XX,XXX,XXX</td>
                </tr>
            </table>
        </td>
    </tr>
</table>